<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programacion Visual 2024</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Programacion Visual 2024</h1>
        <nav>
            <div>
                <strong>Menú</strong>
            </div>
            <ul>
                <li><a href="https://www.fi.unju.edu.ar/" target="_blank">Sede</a></li>
                <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540" target="_blank">Aula Virtual</a></li>
                <li>
                    <a
                        href="https://azure.microsoft.com/es-es/resources/cloud-computing-dictionary/what-is-java-programming-language"
                        target="_blank"
                    >
                        ¿Qué es Java? Guía de Java para principiantes
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>